* {
  padding: 0;
  margin: 0;
  font-size: 0;
}

#app {
  padding: 20px 0px;
  width: 970px;
  border: 1px solid #000;
  margin: 0 auto;
}

.project {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 300px;
  height: 200px;
  cursor: pointer;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  transition: .2s;
  position: relative;
}

.project:hover {
  background-size: 150% 150%;
  background-position: center;
}

.project .menu-item {
  font-family: '微软雅黑','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  text-align: center;
  transition: .5s;
  line-height: 60px;
  background-color: rgb(156, 156, 156,0.5);
}

.project:hover .menu-item {
  height: 200px;
  line-height: 200px;
  background-color: rgba(0, 0, 0, 0.212);
}