* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: rgb(51, 51, 51);
}

.container {
  text-align: center;
  padding: 200px 0;
}

.btn {
  background: none;
  border: 0;
  outline: 0;
  color: aquamarine;
  font-family: 'JetBrains Mono';
  font-size: 20px;
  cursor: pointer;
  border: 2px solid aquamarine;
  width: 250px;
  height: 50px;
  position: relative;
}

.btn label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 50px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(51, 51, 51);
}

.btn::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0px;
  height: 0;
  z-index: 0;
  background-color: brown;
  transition: width .5s,height .5s;
}

.btn::after {
  content: '';
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 0;
  z-index: 0;
  background-color: brown;
  transition: width .5s,height .5s;

  /* width: calc(100% + 4px);
  height: calc(100% + 4px); */
}

.btn:hover {
  color: brown;
}

.btn:hover::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.btn:hover::after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}