.loading6 {
  animation: loading6 2s infinite linear 0s;
}

@keyframes loading6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading6 .item {
  width: 120px;
  height: 120px;
  background-color: crimson;
  transform: translateX(90px) translateY(90px);

  animation: loading6-item 2s infinite linear 0s;
}

@keyframes loading6-item {
  0% {
    border-radius: 0;
  }
  12.5% {
    border-bottom-right-radius: 60px;
  }
  25% {
    border-radius: 0;
  }
  37.5% {
    border-top-right-radius: 60px;
  }
  50% {
    border-radius: 0;
  }
  62.5% {
    border-top-left-radius: 60px;
  }
  75% {
    border-radius: 0;
  }
  87.5% {
    border-bottom-left-radius: 60px;
  }
  100% {
    border-radius: 0;
  }
}